<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>Welcome to Node Almanac</title>
</head>
<body>
    <div class="container">
        <div class="row mt40">
            <div class="col-md-12 text-center">
                <h2>Welcome to your Almanac</h2>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center d-flex">
                        <table>
                            <tr>
                                <td>
                                    <button type="button">Add New Task</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="button">View Notifications</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>